<div class="container" id="linksbuttoncontainerdetoutefaçontousçaçavire">
  <div class="d-flex">
    <div class="w-50 d-flex justify-content-center">
      <a href="/games" class="btn btn-warning">
        Explore Video Games
      </a>
    </div>
    <div class="w-50 d-flex justify-content-center">
      <a href="/platforms" class="btn btn-warning">
        Explore Platforms
      </a>
    </div>
    <div class="w-50 d-flex justify-content-center">
      <a href="{{ authURLinString }}" class="btn btn-warning">
        Login
      </a>
    </div>
  </div>
</div>